h1{
  background-color: red;

}

p{
  background-color: blue;
}

span{
  background-color: gray;
  display: block;
  width: 200px;
  height: 200px;
}

/* we change the default properties */
h2{
  background-color: orange;
  display: inline-block;
  width: 100px;
  height: 100px;
}
