.flexContainer{
  border: 3px solid blue;
  display:flex;
  flex-direction: row;
}

.box1{
  background-color: pink;
  margin: 10px;
  /* flex-basis: 40% */
  flex-grow: 1;
}

.box2{
  background-color: cyan;
  margin: 10px;
  flex-basis: 100%

}

.box3{
  background-color: orange;
  margin: 10px;
  flex-basis: 60%;
  /* flex-shrink: 4; */
  flex:0 1 auto; /* flex-grow flex-shrink flex-bases*/

}
