.container {
  border: 1px solid blue;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 100px 200px 300px;
  grid-template-rows: 100px 200px 300px; */
  /* grid-template: 100px 200px 300px / 100px 200px 400px; */
  /* grid-template: 100px 200px 300px / 25% 25% 25%; */
  /* grid-template: 100px 200px 300px / 1fr 1fr 1fr; */
  grid-template: 1fr/repeat(auto-fill, minmax(200px, 1fr));
  height: 700px;
  grid-gap: 10px;

  /* align-content: start/end/center/space-between/space-around/space-evenly; */

  /* align-content: start; */
  /* align-content: end; */
  /* align-content: center; */
  /* align-content: space-between; */
  /* align-content: space-evenly; */
  /* align-content: space-around; */

  /* justify-content: start/end/center/space-between/space-around/space-evenly; */
  /* justify-content: start; */
  /* justify-content: end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */


}

.box {
  background-color: orange;
  border: 1px solid blue;
}